.recent-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; /* or whatever max-width you prefer */
}
.margin-top {
  margin-top: 2rem;
}

/* Recent.css */
.button-style {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.button-style:hover {
  opacity: 0.8;
}

.sortby-like-button,
.sortby-date-button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
}

.sortby-like-button {
  background-color: #ffca28;
  color: #333;
}

.sortby-date-button {
  background-color: #f44336;
  color: white;
}
